videos
/isaacgymenvs/logs
*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/tools/format/.lastrun
_doxygen
/rlisaacgymenvsgpu/logs
*.pxd2
/tests/logs
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/isaacgymenvs/wandb
/thirdparty/TorchSDF/build
/thirdparty/TorchSDF/torchsdf.egg-info
/thirdparty/differentiable-robot-model/__pycache__*
/thirdparty/differentiable-robot-model/.idea*

*.npy
*.npz
*.pyc
*.ply
__pycache__/
